*.iml
.gradle
/local.properties
/.idea
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
iosApp/Podfile.lock
iosApp/Pods/*
iosApp/iosApp.xcworkspace/*
iosApp/iosApp.xcodeproj/*
!iosApp/iosApp.xcodeproj/project.pbxproj
shared/shared.podspec

# Vosk model
vosk-model-es/

# Piper TTS local binaries & models
desktopApp/piper/bin/
desktopApp/piper/models/

# Python venvs
venv/
**/venv/

